.careerCard-container {
  width: 100%;
  padding: 20px 20px 12px;
  margin-bottom: 30px;
  transition: all 3s ease;

  .title-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .deco {
      height: 0;
      width: 5px;
      background: $brand-primary;
    }

    .position {
      opacity: 0;
      font-size: 1.4rem;
      margin-left: 10px;
    }
  }

  .leadDesc {
    opacity: 0;
    line-height: 1.6rem;
  }

  .expandButton {
    opacity: 0;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    .buttonText {
      @include textBold;
    }

    .arrow {
      width: 6px;
      margin-left: 10px;
      transform: rotate(90deg);
      transition: all 0.3s ease;
    }
  }

  .detail-container {
    display: none;
    opacity: 0;
    @include textLight;
    padding: 20px auto;

    .cta {
      width: 100%;
      height: 50px;
      background: $brand-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      margin: 10px auto;

      .buttonText {
        color: white;
        @include textBold;
      }
    }
  }

  &:hover {
    .arrow {
      transform: rotate(90deg) translateX(5px);
    }
  }
}
