.companyInfo-container {
  .info-list {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 10px 0 20px;
    list-style-type: none;

    .info-row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 20px auto;

      .info-key {
        width: 100px;
        @include textLight;
      }

      .info-value {
        flex: 1;
        @include textLight;
        line-height: 1.4rem;
      }
    }
  }
}
