.member-container {
  margin-bottom: 50px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 70px;
  }
  @media screen and (min-width: $tablet-bg) {
    display: flex;
  }

  .member-pic {
    height: 250px;
    max-width: 400px;
    margin: 20px auto;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
    @media screen and (min-width: $tablet) {
      height: 350px;
      max-width: 550px;
    }
    @media screen and (min-width: $tablet-bg) {
      order: 2;
      height: 350px;
      width: 480px;
      margin-right: -50px;
      margin-top: 40px;
    }
    @media screen and (min-width: $desktop-sm) {
      height: 380px;
      width: 550px;
    }
    @media screen and (min-width: $desktop) {
      height: 400px;
      width: 600px;
    }

    .clipped-img {
      height: 100%;
      clip-path: url("#member-clip");
      position: relative;
      background-color: white;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
      }
    }
  }
}

.member-contents {
  margin-top: 30px;
  @media screen and (min-width: $tablet-bg) {
    order: 1;
    flex: 1;
  }

  .header {
    display: flex;
    align-items: center;

    .position {
      padding-right: 20px;
      @include textBold;
    }

    .name {
      @include textBold;
    }
  }

  .introduction {
    padding-top: 20px;
    @media screen and (min-width: $tablet-bg) {
      padding-left: 50px;
    }
  }
}
