.member-container {
  .member-pic {
    height: 250px;
    margin: 20px auto;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));

    .clipped-img {
      height: 100%;
      clip-path: url("#member-clip");
      position: relative;
      background-color: white;

      img {
        height: 100%;
        position: absolute;
        top: 0;
      }
    }
  }
}

.member-contents {
  margin-top: 30px;

  .header {
    display: flex;
    align-items: center;

    .position {
      padding-right: 20px;
      @include textBold;
    }

    .name {
      @include textBold;
    }
  }

  .introduction {
    padding-top: 20px;
  }
}
