/** Colors */
$brand-primary: #12e8a6;
$head: #0f0f0f;
$text: #444;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

/** break points */
$tablet: 550px;
$tablet-bg: 900px;
$desktop-sm: 1025px;
$desktop: 1300px;
$desktop-md: 1400px;
$desktop-lg: 1600px;
